bb5/teamroster2/data/races.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by user user (SILOGIC) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="apothecary">
		<xs:complexType>
			<xs:attribute name="use" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="background" type="xs:string"/>
	<xs:element name="position">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skills"/>
			</xs:sequence>
			<xs:attribute name="qty" type="xs:byte" use="required"/>
			<xs:attribute name="title" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cost" type="xs:long" use="required"/>
			<xs:attribute name="ma" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="st" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="av" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="normal" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="double" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="display" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="positions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="race">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="apothecary"/>
				<xs:element ref="reroll"/>
				<xs:element ref="positions"/>
				<xs:element ref="background"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Amazon"/>
						<xs:enumeration value="Chaos"/>
						<xs:enumeration value="Chaos Dwarf"/>
						<xs:enumeration value="Dark Elf"/>
						<xs:enumeration value="Dwarf"/>
						<xs:enumeration value="Elf"/>
						<xs:enumeration value="Goblin"/>
						<xs:enumeration value="Halfling"/>
						<xs:enumeration value="High Elf"/>
						<xs:enumeration value="Human"/>
						<xs:enumeration value="Khemri"/>
						<xs:enumeration value="Lizardman"/>
						<xs:enumeration value="Necromantic"/>
						<xs:enumeration value="Norse"/>
						<xs:enumeration value="Nurgle"/>
						<xs:enumeration value="Ogre"/>
						<xs:enumeration value="Orc"/>
						<xs:enumeration value="Skaven"/>
						<xs:enumeration value="Undead"/>
						<xs:enumeration value="Vampire"/>
						<xs:enumeration value="Wood Elf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="emblem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="races">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="race" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="BBversion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reroll">
		<xs:complexType>
			<xs:attribute name="cost" type="xs:long" use="required"/>
			<xs:attribute name="qty" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="skill">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Always Hungry"/>
						<xs:enumeration value="Ball and Chain"/>
						<xs:enumeration value="Block"/>
						<xs:enumeration value="Blood Lust"/>
						<xs:enumeration value="Bombardier"/>
						<xs:enumeration value="Bone-Head"/>
						<xs:enumeration value="Break Tackle"/>
						<xs:enumeration value="Catch"/>
						<xs:enumeration value="Chainsaw"/>
						<xs:enumeration value="Claws"/>
						<xs:enumeration value="Dauntless"/>
						<xs:enumeration value="Decay"/>
						<xs:enumeration value="Dirty Player"/>
						<xs:enumeration value="Disturbing Presence"/>
						<xs:enumeration value="Dodge"/>
						<xs:enumeration value="Dump Off"/>
						<xs:enumeration value="Foul Appearance"/>
						<xs:enumeration value="Frenzy"/>
						<xs:enumeration value="Horns"/>
						<xs:enumeration value="Hypnotic Gaze"/>
						<xs:enumeration value="Juggernaut"/>
						<xs:enumeration value="Jump Up"/>
						<xs:enumeration value="Leap"/>
						<xs:enumeration value="Loner"/>
						<xs:enumeration value="Mighty Blow"/>
						<xs:enumeration value="Nerves of Steel"/>
						<xs:enumeration value="No Hands"/>
						<xs:enumeration value="Nurgle's Rot"/>
						<xs:enumeration value="Pass"/>
						<xs:enumeration value="Prehensile Tail"/>
						<xs:enumeration value="Really Stupid"/>
						<xs:enumeration value="Regeneration"/>
						<xs:enumeration value="Right Stuff"/>
						<xs:enumeration value="Safe Throw"/>
						<xs:enumeration value="Secret Weapon"/>
						<xs:enumeration value="Shadowing"/>
						<xs:enumeration value="Side Step"/>
						<xs:enumeration value="Sprint"/>
						<xs:enumeration value="Stab"/>
						<xs:enumeration value="Stand Firm"/>
						<xs:enumeration value="Strong Arm"/>
						<xs:enumeration value="Stunty"/>
						<xs:enumeration value="Sure Feet"/>
						<xs:enumeration value="Sure Hands"/>
						<xs:enumeration value="Tackle"/>
						<xs:enumeration value="Take Root"/>
						<xs:enumeration value="Tentacles"/>
						<xs:enumeration value="Thick Skull"/>
						<xs:enumeration value="Throw Team-Mate"/>
						<xs:enumeration value="Titchy"/>
						<xs:enumeration value="Very Long Legs"/>
						<xs:enumeration value="Wild Animal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="skills">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skill" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
