bb5/teamroster2/data/races.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by user user (SILOGIC) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="apothecary">
		<xs:complexType>
			<xs:attribute name="use" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="background" type="xs:string"/>
	<xs:element name="position">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skills"/>
			</xs:sequence>
			<xs:attribute name="qty" type="xs:byte" use="required"/>
			<xs:attribute name="title" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cost" type="xs:long" use="required"/>
			<xs:attribute name="ma" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="st" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="av" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="normal" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="double" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="positions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="position" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="race">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="apothecary"/>
				<xs:element ref="reroll"/>
				<xs:element ref="positions"/>
				<xs:element ref="background"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Amazon"/>
						<xs:enumeration value="Chaos"/>
						<xs:enumeration value="Chaos Dwarf"/>
						<xs:enumeration value="Dark Elf"/>
						<xs:enumeration value="Dwarf"/>
						<xs:enumeration value="Elf"/>
						<xs:enumeration value="Goblin"/>
						<xs:enumeration value="Halfling"/>
						<xs:enumeration value="High Elf"/>
						<xs:enumeration value="Human"/>
						<xs:enumeration value="Khemri"/>
						<xs:enumeration value="Lizardman"/>
						<xs:enumeration value="Necromantic"/>
						<xs:enumeration value="Norse"/>
						<xs:enumeration value="Nurgle"/>
						<xs:enumeration value="Ogre"/>
						<xs:enumeration value="Orc"/>
						<xs:enumeration value="Skaven"/>
						<xs:enumeration value="Undead"/>
						<xs:enumeration value="Vampire"/>
						<xs:enumeration value="Wood Elf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="emblem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="races">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="race" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="BBversion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reroll">
		<xs:complexType>
			<xs:attribute name="cost" type="xs:long" use="required"/>
			<xs:attribute name="qty" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="skill">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="always hungry"/>
						<xs:enumeration value="ball and chain"/>
						<xs:enumeration value="block"/>
						<xs:enumeration value="blood lust"/>
						<xs:enumeration value="bombardier"/>
						<xs:enumeration value="bone-head"/>
						<xs:enumeration value="break tackle"/>
						<xs:enumeration value="catch"/>
						<xs:enumeration value="chainsaw"/>
						<xs:enumeration value="claws"/>
						<xs:enumeration value="dauntless"/>
						<xs:enumeration value="decay"/>
						<xs:enumeration value="dirty player"/>
						<xs:enumeration value="disturbing presence"/>
						<xs:enumeration value="dodge"/>
						<xs:enumeration value="dump off"/>
						<xs:enumeration value="foul appearance"/>
						<xs:enumeration value="frenzy"/>
						<xs:enumeration value="horns"/>
						<xs:enumeration value="hypnotic gaze"/>
						<xs:enumeration value="juggernaut"/>
						<xs:enumeration value="jump up"/>
						<xs:enumeration value="leap"/>
						<xs:enumeration value="loner"/>
						<xs:enumeration value="mighty blow"/>
						<xs:enumeration value="nerves of steel"/>
						<xs:enumeration value="no hands"/>
						<xs:enumeration value="nurgle's rot"/>
						<xs:enumeration value="pass"/>
						<xs:enumeration value="prehensile tail"/>
						<xs:enumeration value="really stupid"/>
						<xs:enumeration value="regeneration"/>
						<xs:enumeration value="right stuff"/>
						<xs:enumeration value="safe throw"/>
						<xs:enumeration value="secret weapon"/>
						<xs:enumeration value="shadowing"/>
						<xs:enumeration value="side step"/>
						<xs:enumeration value="sprint"/>
						<xs:enumeration value="stab"/>
						<xs:enumeration value="stand firm"/>
						<xs:enumeration value="strong arm"/>
						<xs:enumeration value="stunty"/>
						<xs:enumeration value="sure feet"/>
						<xs:enumeration value="sure hands"/>
						<xs:enumeration value="tackle"/>
						<xs:enumeration value="take root"/>
						<xs:enumeration value="tentacles"/>
						<xs:enumeration value="thick skull"/>
						<xs:enumeration value="throw team-mate"/>
						<xs:enumeration value="titchy"/>
						<xs:enumeration value="very long legs"/>
						<xs:enumeration value="wild animal"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="skills">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="skill" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
